:root {
    --primary-color: #9A3F3F;
    --secondary-color: #5e1f1f;
    --accent-color: #fffbb0;
    --secondary-accent-color: #ff9034;
    --text-dark: #222;
    --text-light: #fff;
    --primary-bg-color: #fd9797;
    --secondary-bg-color: #fde2df;
    --third-bg-color: #d87272;

    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    color: var(--text-dark);
    font-size: 1.2rem;
}

/* HEADER */
header {
    display: grid;
    grid-template-columns: auto 1fr 44px;
    align-items: center;
    justify-items: center;
    text-align: center;
    gap: .5rem;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    border-bottom: 2px solid var(--accent-color);
    color: var(--text-light);
}

header img {
    width: 60px;
    height: auto;
}

header span {
    font-size: 1.75rem;
}

.hamburger {
    background: none;
    border: none;
    font-size: 1.75rem;
    transition: transform 0.2s ease;
    color: var(--text-light);
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00d7";
}

/* NAVIGATION */
.navigation {
    display: none;
    justify-content: center;
    background-color: var(--secondary-color);
    border-bottom: 2px solid var(--accent-color);
}

.navigation.show {
    display: flex;
}

.navigation ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
}

.navigation a {
    display: block;
    padding: 0.75rem 1rem;
    text-align: center;
    color: var(--text-light);
    background-color: var(--secondary-color);
    border-radius: 6px;
    text-decoration: none;
}

.navigation a.active {
    background-color: var(--accent-color);
    color: var(--text-dark);
}

.navigation a:hover {
    font-weight: bold;
    background-color: var(--accent-color);
    color: var(--text-dark);
}

/* MAIN */
main {
    background-color: var(--primary-bg-color);
    text-align: center;
}

h1 {
    margin: 0;
    padding: .5rem;
}

h2 {
    font-size: large;
}

/* -- HOME PAGE -- */
.members-display,
.weather-div,
.home {
    display: flex;
    flex-direction: column;
}

.hero-img {
    display: block;
    width: 100%;
    border-top: 3px solid var(--secondary-color);
    border-bottom: 3px solid var(--secondary-color);
    border-radius: 2px;
}

.hero-container {
    position: relative;
    width: 100%;
}

.cta-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 1rem;
    background-color: var(--accent-color);
    color: var(--text-dark);
    font-size: 1.2rem;
    border-radius: 5px;
    border: 2px solid var(--text-dark);
    text-decoration: none;
    font-weight: bold;
}

.cta-btn:hover {
    background-color: var(--secondary-accent-color);
    color: var(--text-light);
}

section {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-bg-color);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    margin: .5rem;
}

section h2 {
    background-color: var(--secondary-color);
    color: var(--text-light);
    padding: .5rem;
    width: 100%;
}

/*Events*/
#events {
    display: flex;
    flex-wrap: wrap;
}

#events ul {
    display: flex;
    flex-direction: column;
}

#events ul li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid var(--primary-color);
}

/* Weather */
#current-weather img {
    background-color: #2222223b;
    border-radius: 50px;
    margin: .2rem;
}

#current-weather {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#events h2,
#weather-forecast h2,
#current-weather h2 {
    flex-basis: 100%;
}

#weather-forecast,
#current-weather div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin: .5rem;
}

#weather-forecast {
    align-items: center;
}

#weather-forecast p {
    margin-bottom: .4rem;
}

/* Members */
#members-display {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    border-radius: 5px;
    margin: .5rem;
    padding: .5rem;
}

.spotlight-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--secondary-bg-color);
    border-radius: 5px;
    margin: .5rem;
    justify-items: center;
    align-items: center;
}

.spotlight-card div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding: 1rem 0rem;
}

.spotlight-card h3 {
    grid-column: 1 / -1;
    width: 100%;
    padding: .5rem;
    margin: 0;
}

.spotlight-card img {
    width: 100%;
    border-radius: 30px;
    padding: .5rem;
}

.spotlight-card.silver {
    border: 5px solid silver;
}

.spotlight-card.gold {
    border: 5px solid gold;
}

.spotlight-card.silver h3 {
    background-color: silver;
}

.spotlight-card.gold h3 {
    background-color: gold;
}

/* -- DIRECTORY PAGE -- */
.member-card {
    border: 2px solid var(--primary-color);
    padding: .5rem;
    background: #fff;
    border-radius: 10px;
}

/* GRID */
#directory-div.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

#directory-div.grid .member-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

#directory-div img {
    width: 80px;
    height: auto;
}

/* LIST */
#directory-div.list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#directory-div.list .member-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
    align-items: center;
    justify-items: center;
}

#directory-div.list img {
    display: none;
}

/* Buttons */
.directory-sec ul {
    justify-content: center;
}

ul {
    display: flex;
    list-style: none;
}

ul li {
    padding: 1rem;
}

.directory-sec button {
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
}

.directory-sec button:hover {
    font-weight: bold;
    background-color: var(--secondary-color);
    border: 2px solid var(--accent-color);
    color: var(--text-light);
}

.directory-sec button.active {
    background-color: var(--secondary-color);
    border: 2px solid var(--accent-color);
    color: var(--text-light);
}

/* JOIN PAGE */
/* Form */
.joinMain {
    text-align: left;
}

.joinMain h1 {
    justify-self: center;
}

form {
    padding: 1rem;
    color: var(--text-light);
}

fieldset {
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 2px solid var(--secondary-color);
    background-color: var(--third-bg-color);
}

legend {
    padding: .5rem;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    border-radius: 5px;
}

label {
    display: block;
    padding: .5rem;
}

textarea,
input[type="text"],
input[type="tel"],
input[type="email"] {
    display: block;
    min-height: 44px;
    border-radius: 5px;
    background-color: var(--secondary-bg-color);
    width: 100%;
    max-width: 500px;
}

#description {
    min-height: 300px;
    border: 2px solid var(--text-dark);
}

fieldset p {
    margin-left: 0.5rem;
    margin-top: 1rem;
}

input[type="submit"] {
    display: flex;
    justify-self: center;
    padding: 1rem 5rem;
    border-radius: 5px;
    background-color: var(--accent-color);
    margin-top: .5rem;
    margin-bottom: 1rem;
}

input[type="submit"]:hover {
    background-color: var(--secondary-accent-color);
    color: var(--text-light);
    font-weight: bold;
}

input:required {
    border-right: solid 8px red;
}

input:required:valid {
    border-right: solid 8px green;
}


/* Membership Levels */
.membership-cards {
    padding: 1rem;
    background-color: var(--third-bg-color);
}

#membership-section h2 {
    font-size: 1.5rem;
    text-align: center;
}

.membership-cards div {
    background-color: var(--secondary-bg-color);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.membership-cards div p {
    margin: 0.5rem 0;
}

.np-level {
    border: 1px solid #003366;
}

.bronze-level {
    border: 4px solid #be8301;
}

.silver-level {
    border: 4px solid silver;
}

.gold-level {
    border: 4px solid #ffc400;
}

.modal-btn {
    padding: .5rem;
    border-radius: 5px;
    background-color: var(--accent-color);
}

.modal-btn:hover {
    background-color: var(--secondary-accent-color);
    color: var(--text-light);
    font-weight: bold;
}

/* Animation */
.membership-cards div {
    transform: scale(0);
    animation: popIn 1s ease-out forwards;
}

.membership-cards div:nth-child(1) {
    animation-delay: .5s;
}

.membership-cards div:nth-child(2) {
    animation-delay: .6s;
}

.membership-cards div:nth-child(3) {
    animation-delay: .7s;
}

.membership-cards div:nth-child(4) {
    animation-delay: .8s;
}

@keyframes popIn {
    0% {
        transform: scale(0);
    }

    70% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Modals */
dialog {
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    padding: 1.5rem;
    max-width: 400px;
}

dialog ul {
    display: flex;
    flex-direction: column;
}

dialog ul li {
    padding: 0.5rem;
}

#np-modal {
    border: 2px solid #003366;
}

#bronze-modal {
    border: 4px solid #be8301;
    background-color: #ffdcb2;
}

#silver-modal {
    border: 4px solid silver;
    background-color: #fff3f3;
}

#gold-modal {
    border: 4px solid #ffc400;
    background-color: #ffecaf;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

.close-btn {
    margin-top: 1rem;
    padding: .5rem 1rem;
    background: #333;
    color: var(--text-light);
    border: none;
    border-radius: 5px;
}

/* THANK YOU PAGE */
.confirmation {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 10px;
    background: var(--text-light);
}

.confirmation p {
    margin: 1rem;
    justify-self: left;
}

.confirmation span {
    font-weight: bold;
    color: #333;
}

/* FOOTER */
footer {
    background-color: var(--secondary-color);
    text-align: center;
    color: var(--text-light);
    padding: 1rem;
    border-top: 2px solid var(--accent-color);
}

footer .socialMediaDiv {
    margin-bottom: 0.5rem;
}

footer img {
    width: 30px;
    margin: 0 0.5rem;
    transition: transform 0.2s ease;
}

footer img:hover {
    transform: scale(1.1);
}