@media only screen and (min-width: 320px) {

    body {
        grid-template-rows: auto auto 1fr auto;
    }

    header {
        grid-template-columns: auto 1fr;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: flex;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }

}