@media only screen and (min-width: 38rem) {

    body {
        grid-template-rows: auto auto 1fr auto;
    }

    header {
        grid-template-columns: auto 1fr;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: flex;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }

    /* HOME PAGE */

    .home {
        display: grid;
        grid-template-rows: auto auto;
    }

    .weather-div {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
    }

    .members-display {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    /*Events*/
    #events {
        flex-wrap: nowrap;
    }

    /* Weather */
    #current-weather {
        justify-content: center;
        align-items: flex-start;
    }

    #events h2,
    #weather-forecast h2,
    #current-weather h2 {
        flex-basis: auto;
        align-self: flex-start;
    }

    #members-display {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }


    #members-display>a {
        grid-column: 1 / -1;
    }

    .spotlight-card {
        grid-template-columns: 1fr 1.5fr;
        gap: .5rem;
    }

    /* JOIN PAGE */

    .joinMain {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .joinMain h1 {
        grid-column: 1 / -1;
    }

    #membership-section {
        margin-top: 2rem;
    }

    #membership-section {
        height: fit-content;
    }

    /* DISCOVER PAGE */
    #discover-div ul {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .place-card img:hover {
        transform: scale(1.05);
        transition: transform 0.2s ease;
        border: 2px solid var(--secondary-accent-color);
    }

    .place-card button:hover {
        background-color: var(--secondary-accent-color);
        color: var(--text-light);
    }

}

@media (min-width: 64rem) {
    #discover-div ul {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}